

<h1>Create New User</h1>
<hr class="colorgraph"><br>
<center>
<br>
<br>
<br>
<%= render 'form' %>
<a href="#" onClick="history.go(-1);return true;"><input type="button" name="login" style="width:100px; height:30px;" value="Back" />
