<!DOCTYPE HTML>
<br>
<br>
<br>
<hr class="colorgraph"><br>
<html>

	 </body>
 
</html>
<div id="contents">
		<div class="section">
			<h1>Contact</h1>
			<p>
				If you have any query about my website feel free to contact me.
			</p>
			<form action="index.html" method="post" class="message">
				<input type="text" value="Name" onFocus="this.select();" onMouseOut="javascript:return false;"/>
				<input type="text" value="Email" onFocus="this.select();" onMouseOut="javascript:return false;"/>
				<input type="text" value="Subject" onFocus="this.select();" onMouseOut="javascript:return false;"/>
				<textarea></textarea>
				<input type="submit" value="Send"/>
			</form>
		</div>
		<div class="section contact">
			<p>
				For Any  Please Call: <span>0307-3738353</span>
			</p>
			<p>
				You can also find Notes and Handouts Here<a href="https://sites.google.com/site/abdulbasitkhan/"><center><h2>Link</h2></center></a>
			</p>
		</div>
	</div>
	
	</div>
</body>
</html>
